/* Overall Modifications */

.container {
	max-width: 960px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}

body {
	background-image: url(../images/background.png);
	background-repeat: repeat;
	background-position: 0% 0%;
	background-size: auto;
}

header h1 img {
	align-content: center;
}

/* For Images */

.main figure {
	float: right;
	margin-left: 15px;
}

/* Fonts: Family and Size */

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h1, h2 {
	font-size: 300%;
}

h3, p, .menu, a, .form {
	font-family: 'Roboto', sans-serif;
}

.main h3 {
	font-size: 200%;
}

p {
	font-size: 150%;
}

footer p {
	font-size: medium;
}

.after-footer p {
	font-size: medium;
}

.thumbs h3 {
	background-color: #E1E1E1;
	font-size: medium;
}

/* Link Modifications */

.thumbs a {
	text-decoration: none;
	background-color: #E1E1E1;
	color: black;
}

.button {
	  background-color: #6A77FF;
	  border: none;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: medium;
	  margin: 4px 2px;
	  width:8%;
	  color: black;
}

.button a:hover {
	color: white;
	background-color: #83C7FF;
}

.after-footer a {
	text-decoration: none;
	color: black;
}

.after-footer a:hover {
	color: #6A77FF;
}

.back a {
	text-decoration: none;
	color: black;
}

.back a:hover {
	color: white;
}

/* Footer */

footer p{
	text-align: center;
}

.after-footer p {
	text-align: center;
}

/* Long Scrolly */

section {
    min-height: 100%; 
    max-height: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Media Query */

@media (max-width: 450px) {
	p {
		font-size: medium;
	}

	h1, h2 {
		font-size: 150%;
	}

	.main h3 {
		font-size: large;
	}
}
